.booldook-wrapper {width: 100%; position: absolute; top: 0; left: 0;}
.booldook-wrapper .w100 {width: 100%; height: auto;}
.booldook-wrapper .h100 {height: 100%; width: auto;}
.booldook-wrapper.booldook-hori {display: flex;}
.booldook-wrapper.booldook-vert {}
.booldook-wrapper.booldook-fade {}
.booldook-wrapper.booldook-step {position: relative; display: flex;}
.booldook-wrapper.booldook-hori .booldook-slide {flex: 100% 0 0; position: relative;}
.booldook-wrapper.booldook-vert .booldook-slide {position: relative;}
.booldook-wrapper.booldook-fade .booldook-slide {position: absolute; width: 100%;}
.booldook-wrapper.booldook-step .booldook-slide {background-repeat: no-repeat; background-size: cover; background-position: center;}
.booldook-wrapper.booldook-step .booldook-slide > img.w100 {opacity: 0;}

.booldook-slide > div {position: absolute; top: 0; left: 0; color: #fff; font-size: 2rem; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; user-select: none;}

.booldook-btn {position: absolute; font-size: 10rem; color: #fff; cursor: pointer; text-shadow: 0 0 0.625rem rgba(0,0,0,0.5); top: 50%; transform: translateY(-50%); z-index: 9999; user-select: none; opacity: 0.2; transition: all 1s;}
.booldook-btn:hover {opacity: 1;}
.booldook-btn.booldook-prev {left: 1rem;} 
.booldook-btn.booldook-next {right: 1rem;}

.booldook-pagers {display: flex; justify-content: center; align-items: center; position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%); z-index: 9999;}
.booldook-pager {user-select: none; width: 40px; margin: 0 4px; cursor: pointer;}
.booldook-pager::before {display: block; content: ""; height: 3px; background-color: #fff; margin: 10px 0; box-shadow: 0 0 0.625rem rgba(0,0,0,0.5);}
.booldook-pager.active::before {background-color: springgreen;}